/* General styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-center h1 {
  margin: 0;
  text-align: center;
}

/* Profile picture styling */
.header-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.header-left:hover {
  cursor: pointer;
}

/* Navigation list styling */
.header-right-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-right-nav li {
  margin-right: 1rem;
}

.header-right-nav a {
  text-decoration: none;
  color: #444; /* Replace with your desired color */
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.header-right-nav a:hover {
  color: #007bff; /* Replace with your desired hover color */
}

/* Profile navbar styling */
.profile-nav {
  position: fixed;
  top: 0;
  left: -100%; /* Hide initially */
  width: 200px;
  height: 100vh;
  background-color: #fff; /* Replace with your desired color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}

.profile-nav.active {
  left: 0;
  top: 0;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .header-content-wrapper {
    flex-direction: column; /* Stack elements vertically on mobile */
  }

  .header-left,
  .header-center {
    flex: 0 0 auto; /* Allow elements to shrink on mobile */
  }

  .header-right-nav {
    display: none; /* Hide navigation on mobile initially */
  }
}
